/.metadata
/external/cordova.rar
/platforms/android/.metadata
/platforms/android/.settings
/platforms/android/assets/www
/platforms/android/bin
/platforms/android/project.properties
Pictures
/Cordova/gen
/Cordova/bin
/plugins/com.salesforce/src/android/libs/SalesforceSDK/gen
/plugins/com.salesforce/src/android/libs/SalesforceSDK/bin
/plugins/com.salesforce/src/android/libs/SmartStore/bin
/plugins/com.salesforce/src/android/libs/SmartStore/gen
/plugins/com.salesforce/src/android/libs/SmartSync/bin
/plugins/com.salesforce/src/android/libs/SmartSync/gen
/external/cordova/framework/bin
/external/cordova/framework/gen
/external/cordova/bin
/platforms/android/.tern-project